html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 4em;
}

.displayFlex {
    display: flex;
    justify-content: center;
}

#statut {
    width: 20%;
    border: solid black 3px;
    border-radius: 6px;
}

.statut {
    border: none;
    font-size: 2em;
    margin: 10px;
    background-color: transparent;
}

.notAllowed {
    cursor: not-allowed;
    /* Permet à l'utilisateur de voir qu'on ne peut pas modifier ou cliquer sur cet endroit*/
}

#minuteur {
    flex-direction: column;
    margin: 50px;
}

#temps {
    font-size: 4em;
    border: solid black 3px;
    border-radius: 360px;
    width: 20vw;
    height: 20vw;
    align-items: center;
}

#lancerBouton {
    margin-top: 30px;
    border: solid black 3px;
    border-radius: 6px;
    padding: 20px;
    cursor: pointer;
}

.disabled {
    color: rgba(135, 135, 140, 0.482);
}

/*Ces lignes suivantes permet d'adapter la taille du Pomodoro en fonction de l'appareil utilisé*/
@media screen and (min-width: 360px) and (max-width: 480px) {
    #statut {
        width: 80%;
    }

    #temps {
        font-size: 3.2em;
        width: 50vw;
        height: 50vw;
    }
}

@media screen and (min-width: 480px) and (max-width: 720px) {
    #statut {
        width: 60%;
    }

    #temps {
        font-size: 3.2em;
        width: 40vw;
        height: 40vw;
    }
}


@media screen and (min-width:720px) and (max-width: 1080px) {
    #statut {
        width: 40%;
    }

    #temps {
        font-size: 3.2em;
        width: 30vw;
        height: 30vw;
    }
}